body {
    font-family: Arial, sans-serif;
    background-color: #faebf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #be088b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}

button:hover {
    background-color: #70075b;
}
